<app-banner
  src="./../assets/imagens/banner-homepage.png"
  alt="Banner do Projeto Jornada"
></app-banner>
<app-container>
  <h2>Promoções</h2>
  <app-form-busca></app-form-busca>
  <div class="card-wrapper">
    <app-card-busca
      src="./../../../assets/imagens/Veneza.png"
      alt="Imagem de Veneza - Itália"
      destino="Veneza"
      valor="1500,00"
    ></app-card-busca>
    <app-card-busca
      src="./../../../assets/imagens/londres.png"
      alt="Imagem de Londres - Inglaterra"
      destino="Londres"
      valor="2500,00"
    ></app-card-busca>
    <app-card-busca
      src="./../../../assets/imagens/cartagena.png"
      alt="Imagem de Cartagena - Colômbia"
      destino="Cartagena"
      valor="500,00"
    ></app-card-busca>
    <app-card-busca
      src="./../../../assets/imagens/sao-paulo.png"
      alt="Imagem de São Paulo - Brasil"
      destino="São Paulo"
      valor="450,00"
    ></app-card-busca>
    <app-card-busca
      src="./../../../assets/imagens/belo-horizonte.png"
      alt="Imagem de Belo Horizonte - Brasil"
      destino="Belo Horizonte"
      valor="600,00"
    ></app-card-busca>

    <app-card-busca
      src="./../../../assets/imagens/rio-de-janeiro.png"
      alt="Imagem do Rio de Janeiro - Brasil"
      destino="Rio de Janeiro"
      valor="600,00"
    ></app-card-busca>
  </div>
  <h2>Depoimentos</h2>
  <div class="container-cards_depoimento">
    <app-card-depoimento></app-card-depoimento>
    <app-card-depoimento></app-card-depoimento>
    <app-card-depoimento></app-card-depoimento>
    <app-card-depoimento></app-card-depoimento>
    <app-card-depoimento></app-card-depoimento>
    <app-card-depoimento></app-card-depoimento>
  </div>
</app-container>
